<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TracksDownload-iTunes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCC688921CE8256800965D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCC688A61CE8256800965D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCC688B11CE8256800965D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
